.btn-group-wrap {
    text-align: center;
}

.graph-sel-group {
    display: inline-block;
    margin-bottom: 25px;
}

#avg-btn-group {
    display: none;
}

#graph-wrapper {
    width: 100%;
    height: 300px;
    position: relative;
}

#loading-box {
    top: 0;
    left: 0;
    text-align: center;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}

#loading-box h1 {
    line-height: 300px;
}

#graph {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#address {
    margin-bottom: 12px;
}

.tab-content {
    overflow: hidden;
}

.file-input {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
    float:left;
    z-index:10;
    font-family:Helvetica, Arial, serif;
}
.file-input input {
    text-transform:capitalize;
    cursor: pointer;
    font-size: 100px;
    height: 100%;
    filter: alpha(opacity=1);
    -moz-opacity: 0.01;
    opacity: 0.01;
    position: absolute;
    right: 0;
    top: 0;
    z-index:20;
    outline:none;
}

.alert {
    display: none;
    margin-top: 15px;
}
#open-file {
    margin-top: 15px;
}

.file-input .btn{
    float:left;
}

.file-input .file-holder{
    margin-top:4px;
    display: block;
    float: left;
    margin-left:4px;
    font-size:11px;
}

.slider {
    margin: 10px;
}

.section-desc {
    float: left;
}

.navbar-inner a:link {color: #000000; }
.navbar-inner a:active {color: #000000; }
.navbar-inner a:visited {color: #000000; }
.navbar-inner a:hover {color: #000000; }

.alpha-bg {
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0) transparent;
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.1);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

#about {
    margin-top: 25px;
}

#legend {
}

#legend-peak {
    width: 50px;
    height: 25px;
    margin-right: 5px;
    background-color: #e88ba1;
    float: left;
}

/* From: http://css-tricks.com/perfect-full-page-background-image/ */
body {
    font-size: 16px;
    line-height: 25px;
    background-color: #C7D6CE;
	/*background: url(../img/tyto-bg2.jpg) no-repeat right center fixed;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

